<div class="card card-outline-secondary mb-3">
    <div class="card-header clearfix">
        <div class="float-left">
            {{ kegiatan_terpilih?.nama }}
        </div>
        <div class="float-right dropdown" anMunculini *ngIf="isMenuOpsShow">
            <button type="button" class="btn btn-outline-secondary btn-sm"><i class="mdi mdi-dots-vertical"></i>
            </button>
            <div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" [routerLink]="['/kegiatan', kegiatan_id, 'modifikasi']">Ubah</a>
                <a class="dropdown-item" href="#">Anggota</a>
                <a class="dropdown-item" href="#">Format</a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <blockquote class="card-blockquote">
            <p>
                {{ deskripsi }}
            </p>
            <ul>
                <li>Kode: {{ kegiatan_terpilih?.kode }}</li>
                <li>STKK: {{ kegiatan_terpilih?.stkk }}</li>
            </ul>
        </blockquote>
    </div>
</div>
<router-outlet></router-outlet>
<div class="row">
    <div class="col-md-4 mb-3" *ngFor="let catatan of catatan_terkait">
        <div class="card p-3 h-100">
            <blockquote class="card-block card-blockquote h-100">
                <p style="word-break: break-all;">
                    Catatan {{ catatan?.nomor }}
                </p>
                <footer class="clearfix">
                    <small class="text-muted float-left">
                        Dibuat: <cite title="Source Title">{{ catatan?.tanggal | date:"dd MMM, y" }}</cite>
                    </small>

                    <a href="" class="float-right">Lihat</a>
                </footer>
            </blockquote>
        </div>
    </div>
</div>

<div class="row" *ngIf="catatan_total > 0">
    <div class="col-md-12">
        <an-pagination [hasNext]="catatan_next !== null"
                       [hasPrev]="catatan_previous !== null"
                       [total]="catatan_total"
                       [range]="15"
                       (offset)="onNewOffset(kegiatan_id, $event)">
        </an-pagination>
    </div>
</div>
